
	.center{
		width: 628px;
		height: 100%;
		margin-left: -314px;
		position: absolute;
		left: 50%;
		min-width: 628px;
	}
	body{
		background: gainsboro;
	}
	#mainbox{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: -1;
	}
	#column{
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 50px;
		background: black;
		z-index: 90;
		border-bottom: 1.5px solid lightslategray;
		}
	#column div{
		float: left;
		height: 50px;
		text-align:center;
		
	}
	#nav{
		margin-left: 10px;
	}
	#back , #forward{
		width: 50px;
		line-height: 50px;
		font-size: 25px;
		font-weight: bolder;
	}
	#aboutme div img{
		height: 50px;
		
	}
	#aboutme #head{
		float: left;
		height: 45px;
		width: 45px;
		border-radius:25px;
		overflow: hidden;
		margin-top:2.5px;
		border: 0px solid black;
	}
	#column span{
		height: 50px;
		line-height: 50px;
		padding: 0px 10px;
		cursor:pointer;
	}
	#aboutme span{
		font-size: 20px;
		color: white;
		clear: left;
	}
	#aboutme #detail{
		background: black;
		width: 200px;
		height:100px;
		position: fixed;
		margin: -150px 0 0 -10px; 
		color: white;
	}
	#nav span{
		font-size: 15px;
		color: white;
		margin-left: 5px;
		width: 60px;
		clear: left;
		opacity: 0.9;
	}
	#back span , #forward span{
		font-size: 25px;
		color: white;
	}
	#lang{
		height: 50px;
		width: 80px;
		color: white;
	}
	
	#nav0,#nav1,#nav2,#nav3{
		width: 700px;
		height: 1000000px;
		z-index: -1;
		left: 50%;
		top: 50px;
		margin-left: 0;
		opacity:0;
		position: absolute;
		transition:all .5s ease-in-out .05s;
		-webkit-transition:all .5s ease-in-out .05s;
		-moz-transition:all .5s ease-in-out .05s;
		-o-transition:all .5s ease-in-out .05s;
	}
	/*博文卡片*/
	.article{
		background: red;
		width: 500px;
		height: auto;
		padding: 20px;
		margin-bottom: 20px;
		float: left;
		min-height: 100px;
	}
	.article *{
		margin-bottom: 15px;
		
	}
	.article h2{
		cursor: pointer;
	}
	.summary{
		background: green;
		width: 500px;
		clear: both;
	}
	.article_inf{
		background: blue;
		width: 160px;
		float: right;
		
	}
	.article_inf .time{
		width: 80px;
		height:80px;
		background: gold;
		border-radius:40px;
		margin:10px auto;
		
	}
	.article_inf .category{
		width: 160px;
		text-align: center;
		background: gray;
	}
	.text{
		background: black;
		color: wheat;
		display: none;
	}
	#debug{
		position: fixed;
		bottom: 0px;
		right: 0px;
		width: 100%;
		height: 100px;
		background: black;
		color: white;
	}
	