body{
	width:360px;
	height:490px;
	margin:0 0;
}
#nav{
	width:360px;
	height:50px;
	background:red;
	z-index:100;
	margin:0 auto;
	position:fixed;
	overflow:hidden;
	top:0px;
}
#nav div{
	width:50px;
	height:50px;
	opacity:0.7;
	float:left;
}
#menu{
	background:green;
}
#menuButton{
	position:fixed;
	top:0;
	left:0;
	z-index:200;
}
#range{
	background:blue;
}
#pk{
	background:pink;
}
#restart{
	background:yellow;
}
#share{
	background:black;
	left:110px;
	position:relative;
}
#menu div{
	width:360px;
	height:50px;
}
#menu div div{
	width:50px;
	height:50px;
	background:orange;
	
}
#shape{
	/background:red;
	margin-top:50px;
}
#size{
	/background:purple;
}
#symbol{
	/background:blue;
}
#difficulty{
	/background:pink;
}
.active{
	position:absolute;
	background:green;
	margin-left:0px;
	z-index:300;
}

#page{
	width:360px;
	height:490px;
	background:pink;
	overflow:hidden;
}
#page div{
	width:360px;
	height:420px;
	opacity:0.7;
	padding:70px 0px 0 0px;
}
#page *{
	margin:0 auto 0 auto;
	width:100%;
	text-align:center;
}
#page div div{padding-top:0px;}
#page #start{
	background:red;
	margin-top:-0px;
}
#page #gaming{
	background:green;
	padding:70px 0px 0 10px;
}
#page #suspend{
	background:blue;
}
#page #end{
	background:purple;
}
#page #gaming div{
	color:white;
	width:80px;
	height:80px;
	background:black;
	float:left;
	margin-right:5px;
	margin-bottom:5px;
	padding:0;
	font-size:40px;
	color:white;
	cursor:pointer;
	line-height:80px;
}